<div class="container">
  <div *ngIf="!submitted">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label for="user-fullname">User Name</label></div>
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              autocomplete="username"
              id="fullname"
              aria-describedby="helpId"
              placeholder="e.g. Jolly Doe"
              required
              minlength="3"
              maxlength="50"
              appRegexValidation="[^A-Z]"
              [(ngModel)]="user.fullname"
              name="user-fullname"
              #namebox="ngModel"
            />
            <div
              *ngIf="namebox.invalid && (namebox.dirty || namebox.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="namebox.errors['required']">Name is mandatory</div>
              <div *ngIf="namebox.errors['regexValidation']">
                Only english alphabets are allowed
              </div>
              <div *ngIf="namebox.errors['minlength']">
                Name should be atleast 3 characters
              </div>
            </div>
            <small id="fullname-helpId" class="form-text text-muted"
              >Enter User Name</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label for="user-password">Password</label></div>
          <div class="col-sm-4">
            <input
              type="password"
              class="form-control"
              name="user-password"
              [(ngModel)]="user.password"
              id="password"
              autocomplete="new-password"
              aria-describedby="helpId"
              placeholder="e.g. password"
              required
            />
            <small id="password-helpId" class="form-text text-muted"
              >Enter Password</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label for="user-password">Confirm Password</label></div>
          <div class="col-sm-4">
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              aria-describedby="confirm-password-helpId"
              placeholder="e.g. password"
              required
            />
            <small id="confirm-password-helpId" class="form-text text-muted"
              >Confirm Password</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label for="user-type">Subscription Type</label></div>
          <div class="col-sm-4">
            <select
              class="form-control"
              name="user-type"
              [(ngModel)]="user.type"
              required
            >
              <option *ngFor="let type of userTypes" [value]="type">{{ type }}</option>
            </select>
            <small id="type-helpId" class="form-text text-muted"
              >Select Subscription Type</small
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"><label for="user-gender">Gender</label></div>
          <div class="col-sm-4">
            <div class="form-check form-check-inline">
              <div *ngFor="let gender of genders" class="radio">
                <input
                  type="radio"
                  name="user-gender"
                  class="form-check-input"
                  value="{{gender}}"
                  [(ngModel)]="user.gender"
                  required
                />
                <label class="form-check-label" for="user-gender"
                  >{{ gender }}&nbsp;</label
                >
              </div>
            </div>
            <div *ngIf="user.gender && user.gender == genderType.OTHER">
              <small id="type-helpId" class="form-text text-muted"
                >If Other, Please mention (minimum 3 letters)</small
              >
              <input
                type="text"
                class="form-control"
                name="user-gender-other"
                [(ngModel)]="otherGenderText"
                minlength="3"
                maxlength="50"
                placeholder=" e.g. Transgender"
                required
              />
            </div>

            <small id="type-helpId" class="form-text text-muted"
              >Please select/mention your gender</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button
              type="submit"
              name="user-submit"
              id=""
              class="btn btn-danger"
              [disabled]="userForm.form.invalid"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="submitted">
    <h2>User Information</h2>
    <div class="row">
      <div class="col-sm-4">
        <app-user-details [selectedUser]="user"></app-user-details>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-danger" (click)="onReset()">Reset</button>
    </div>
  </div>
</div>
